In [ ]:
!pip install openai

Collecting openai
  Downloading openai-0.27.8-py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.6/73.6 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai) (4.65.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai) (3.8.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai) (1.3.1)
Installing collected packages: openai
Successfully installed openai-0.27.8

In [ ]:
import pandas as pd

In [ ]:
!pip install langchain

Collecting langchain
  Downloading langchain-0.0.219-py3-none-any.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 17.9 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from langchain) (6.0)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.0.16)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /usr/local/lib/python3.10/dist-packages (from langchain) (3.8.4)
Requirement already satisfied: async-timeout<5.0.0,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (4.0.2)
Collecting dataclasses-json<0.6.0,>=0.5.7 (from langchain)
  Downloading dataclasses_json-0.5.8-py3-none-any.whl (26 kB)
Collecting langchainplus-sdk>=0.0.17 (from langchain)
  Downloading langchainplus_sdk-0.0.17-py3-none-any.whl (25 kB)
Requirement already satisfied: numexpr<3.0.0,>=2.8.4 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.8.4)
Requirement already satisfied: numpy<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.22.4)
Collecting openapi-schema-pydantic<2.0,>=1.2 (from langchain)
  Downloading openapi_schema_pydantic-1.2.4-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.0/90.0 kB 8.9 MB/s eta 0:00:00
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from langchain) (1.10.9)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.10/dist-packages (from langchain) (2.27.1)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /usr/local/lib/python3.10/dist-packages (from langchain) (8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (2.0.12)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0.0,>=3.8.3->langchain) (1.3.1)
Collecting marshmallow<4.0.0,>=3.3.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow-3.19.0-py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 4.8 MB/s eta 0:00:00
Collecting marshmallow-enum<2.0.0,>=1.5.1 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading marshmallow_enum-1.5.1-py2.py3-none-any.whl (4.2 kB)
Collecting typing-inspect>=0.4.0 (from dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->langchain) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (2023.5.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2->langchain) (3.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy<3,>=1.4->langchain) (2.0.2)
Requirement already satisfied: packaging>=17.0 in /usr/local/lib/python3.10/dist-packages (from marshmallow<4.0.0,>=3.3.0->dataclasses-json<0.6.0,>=0.5.7->langchain) (23.1)
Collecting mypy-extensions>=0.3.0 (from typing-inspect>=0.4.0->dataclasses-json<0.6.0,>=0.5.7->langchain)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Installing collected packages: mypy-extensions, marshmallow, typing-inspect, openapi-schema-pydantic, marshmallow-enum, langchainplus-sdk, dataclasses-json, langchain
Successfully installed dataclasses-json-0.5.8 langchain-0.0.219 langchainplus-sdk-0.0.17 marshmallow-3.19.0 marshmallow-enum-1.5.1 mypy-extensions-1.0.0 openapi-schema-pydantic-1.2.4 typing-inspect-0.9.0

In [ ]:
import os

os.environ["OPENAI_API_KEY"] = "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"

In [ ]:
from langchain.agents import create_pandas_dataframe_agent
from langchain.llms import OpenAI
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_types import AgentType
import pandas as pd

In [ ]:
df = pd.read_csv('train.csv')
df[0:10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
pd_agent = create_pandas_dataframe_agent(OpenAI(temperature=0),
                         df,
                         verbose=True)

In [ ]:
pd_agent.run("What is survival rate of onboarded passenger?")

> Entering new  chain...
Thought: I need to calculate the ratio of survived passengers to total passengers
Action: python_repl_ast
Action Input: df['Survived'].sum() / df['PassengerId'].count()
Observation: 0.3838383838383838
Thought: I now know the final answer
Final Answer: The survival rate of onboarded passengers is 0.38.

> Finished chain.

'The survival rate of onboarded passengers is 0.38.'

In [ ]:
pd_agent.run("What is the mortality rate children and teenagers based on their passenger classes?Return the class had best mortality rate?")

> Entering new  chain...
Thought: I need to filter the dataframe to only include passengers under the age of 18, then group by passenger class and calculate the mortality rate.
Action: python_repl_ast
Action Input: df[df['Age'] < 18].groupby('Pclass')['Survived'].mean()
Observation: Pclass
1    0.916667
2    0.913043
3    0.371795
Name: Survived, dtype: float64
Thought: Class 1 had the best mortality rate.
Final Answer: Class 1 had the best mortality rate for children and teenagers, with a mortality rate of 0.916667.

> Finished chain.

'Class 1 had the best mortality rate for children and teenagers, with a mortality rate of 0.916667.'

In [ ]:
pd_agent.agent.llm_chain.prompt.template

'\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}'

In [ ]:
from langchain.agents import create_csv_agent

In [ ]:
csv_agent = create_csv_agent(OpenAI(temperature=0),
                             'train.csv',
                             verbose=True,
                             )

In [ ]:
csv_agent.run('What is the survival rate of passengers ?')

> Entering new  chain...
Thought: I need to calculate the number of passengers who survived and divide it by the total number of passengers.
Action: python_repl_ast
Action Input: df['Survived'].sum() / df['PassengerId'].count()
Observation: 0.3838383838383838
Thought: I now know the final answer
Final Answer: The survival rate of passengers is 0.3838383838383838.

> Finished chain.

'The survival rate of passengers is 0.3838383838383838.'

In [ ]:
csv_agent.run('What is the survival rate children and teenagers based on their passenger classes?Return the class that had best mortality rate?')

> Entering new  chain...
Thought: I need to filter the dataframe to only include passengers under 18 years old and then calculate the survival rate for each class.
Action: python_repl_ast
Action Input: df[df['Age'] < 18].groupby('Pclass')['Survived'].mean()
Observation: Pclass
1    0.916667
2    0.913043
3    0.371795
Name: Survived, dtype: float64
Thought: I now know the final answer
Final Answer: The best mortality rate for children and teenagers is in class 1 with a survival rate of 0.916667.

> Finished chain.

'The best mortality rate for children and teenagers is in class 1 with a survival rate of 0.916667.'

In [ ]:
csv_agent.run('Number of rows and columns specified?')

> Entering new  chain...
Thought: I need to find out the shape of the dataframe
Action: python_repl_ast
Action Input: df.shape
Observation: (891, 12)
Thought: I now know the final answer
Final Answer: 891 rows and 12 columns

> Finished chain.

'891 rows and 12 columns'

In [ ]:
csv_agent.agent.llm_chain.prompt.template

'\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}'

In [ ]:
csv_agent.run('What are mortality rates considering passenger class and gender? which catrgory had best mortality? ')

> Entering new  chain...
Thought: I need to group the data by passenger class and gender and then calculate the mortality rate for each group.
Action: python_repl_ast
Action Input: df.groupby(['Pclass', 'Sex'])['Survived'].mean()
Observation: Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64
Thought: I now know the mortality rate for each group.
Final Answer: The highest mortality rate was for female passengers in first class (96.8%), while the lowest mortality rate was for male passengers in third class (13.5%).

> Finished chain.

'The highest mortality rate was for female passengers in first class (96.8%), while the lowest mortality rate was for male passengers in third class (13.5%).'

In [ ]:
csv_agent.run('What are mortality rates considering passenger class and gender?')

> Entering new  chain...
Thought: I need to group the data by passenger class and gender
Action: python_repl_ast
Action Input: df.groupby(['Pclass', 'Sex'])['Survived'].mean()
Observation: Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64
Thought: I now know the final answer
Final Answer: The mortality rates considering passenger class and gender are 0.968085 for female passengers in class 1, 0.921053 for female passengers in class 2, 0.500000 for female passengers in class 3, 0.368852 for male passengers in class 1, 0.157407 for male passengers in class 2, and 0.135447 for male passengers in class 3.

> Finished chain.

'The mortality rates considering passenger class and gender are 0.968085 for female passengers in class 1, 0.921053 for female passengers in class 2, 0.500000 for female passengers in class 3, 0.368852 for male passengers in class 1, 0.157407 for male passengers in class 2, and 0.135447 for male passengers in class 3.'

In [ ]:
multi_agent = create_csv_agent(
    ChatOpenAI(temperature=0, model="gpt-3.5-turbo-0613"),
    ["test.csv", "train.csv"],
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
)

In [ ]:
multi_agent.run('Are there any common rows in both datasets?')

> Entering new  chain...

Invoking: `python_repl_ast` with `common_rows = df1.merge(df2, on=['PassengerId'], how='inner')
common_rows.head()`


Empty DataFrame
Columns: [PassengerId, Pclass_x, Name_x, Sex_x, Age_x, SibSp_x, Parch_x, Ticket_x, Fare_x, Cabin_x, Embarked_x, Survived, Pclass_y, Name_y, Sex_y, Age_y, SibSp_y, Parch_y, Ticket_y, Fare_y, Cabin_y, Embarked_y]
Index: []

[0 rows x 22 columns]There are no common rows in both datasets based on the 'PassengerId' column.

> Finished chain.

"There are no common rows in both datasets based on the 'PassengerId' column."

In [ ]:
multi_agent.run('What is the combined mean ticket fare for each class?')

> Entering new  chain...

Invoking: `python_repl_ast` with `df = pd.concat([df1, df2])
combined_mean_fare = df.groupby('Pclass')['Fare'].mean()
combined_mean_fare`


NameError: name 'pd' is not defined
Invoking: `python_repl_ast` with `import pandas as pd

df = pd.concat([df1, df2])
combined_mean_fare = df.groupby('Pclass')['Fare'].mean()
combined_mean_fare`
responded: {content}

Pclass
1    87.508992
2    21.179196
3    13.302889
Name: Fare, dtype: float64The combined mean ticket fare for each class is as follows:

- Class 1: $87.51
- Class 2: $21.18
- Class 3: $13.30

> Finished chain.

'The combined mean ticket fare for each class is as follows:\n\n- Class 1: $87.51\n- Class 2: $21.18\n- Class 3: $13.30'

In [ ]:
# multi_agent.agent.llm_chain.prompt.template